.base {
  @apply flex items-center justify-center transition-all duration-300 ease-in-out;
}

/* Primary (Enroll) */
.primary {
  @apply bg-trueGray-800 text-brandWhite py-4  gap-2 hover:bg-trueGray-900 border border-brandWhite active:bg-trueGray-800 rounded-large font-semibold;
  @apply xl:px-[151.5px] xl:text-lg lg:px-[120px] lg:text-base md:px-[80px] md:text-sm text-sm px-16;
}
.primary:disabled {
  @apply bg-trueGray-800 text-white/70 cursor-not-allowed;
}

/* Secondary (Wishlist) */
.secondary {
  @apply bg-brandWhite border border-trueGray-800 border-opacity-[6%] text-trueGray-800 rounded-large font-normal py-4 gap-2 hover:font-medium hover:border-opacity-[12%] active:font-medium;
  @apply xl:px-24 xl:text-lg lg:px-16 lg:text-base md:px-12 md:text-sm px-7 py-5 text-sm;
}
.secondary:disabled {
  @apply bg-trueGray-50 cursor-not-allowed;
}

/* Google & Microsoft */
.google,
.microsoft {
  @apply bg-trueGray-50 border border-trueGray-900 border-opacity-[6%] text-trueGray-900 font-normal py-4  gap-3 hover:bg-trueGray-50 hover:font-semibold hover:border-opacity-[15%] active:bg-gray-100 rounded-small active:border-opacity-[15%] active:font-normal;
  @apply xl:px-6 xl:text-lg lg:px-5 lg:text-base md:px-4 md:text-sm px-6 text-sm;
}

/* Instructor */
.instructor {
  @apply text-trueGradientText font-semibold rounded-small bg-[linear-gradient(90deg,#A1D4F2_0%,#E5F87A_100%)] bg-opacity-[60%] hover:bg-opacity-[80%] active:bg-opacity-[100%];
  @apply xl:px-[17px] xl:text-lg lg:px-12 md:px-10 md:py-[13px] text-base px-6 py-3;
}

.instructor:disabled {
  @apply bg-blueGray-100 text-trueGray-800 cursor-not-allowed;
}
/* Cart */
.cart {
  @apply bg-brandWhite border border-trueGray-800 border-opacity-[6%] text-trueGray-800 text-lg font-normal rounded-large hover:border-opacity-[12%] hover:font-medium active:bg-blueGray-100 active:border-opacity-[12%] active:font-medium;
  @apply xl:py-[11px] xl:px-[13px]  lg:px-[10px] lg:py-[9px] lg:text-sm md:px-[9px] md:py-[8px] md:text-sm px-[8px] py-[7px] text-xs;
}
.cart:disabled {
  @apply bg-trueGray-50 text-trueGray-800 cursor-not-allowed;
}

/* Icon-only (Arrow) */
.icon {
  @apply bg-brandWhite border border-trueGray-800 border-opacity-[10%] hover:bg-trueGray-50;
  @apply xl:py-[22px] xl:px-[30px] lg:px-6 md:px-5 py-3 px-4 xl:rounded-3xl rounded-2xl;
}
